<div class="p-5">
  <h1>
    <strong>Presentación</strong>
  </h1>

  <hr>

  <h2 class="mb-3">
    Sobre mí
  </h2>

  <p-card>
    Ingeniero Informático apasionado por la tecnología, con más de 3 años de experiencia como desarrollador FullStack.
    Mi enfoque radica en la aplicación de las mejores prácticas y en el aprendizaje constante para asegurar un
    desarrollo preciso y eficiente. Mi personalidad empática, amable, perseverante y dinámica facilita la colaboración
    efectiva con los miembros del equipo y la consecución de objetivos.
  </p-card>

  <h2 class="mt-4 mb-3">
    Habilidades
  </h2>

  <p-card>
    <ul>
      <li>Responsabilidad</li>
      <li>Comunicación</li>
      <li>Trabajo en equipo</li>
      <li>Creatividad</li>
      <li>Adaptabilidad al cambio</li>
    </ul>
  </p-card>

  <h2 class="mt-4">
    Contacto
  </h2>

  <div id="contactoCorreo">
    <i class="fa-solid fa-envelope"></i><a href="mailto:carlosmz96esp@gmail.com"> carlosmz96esp&#64;gmail.com</a>
  </div>
  <div class="contactoLinkedin">
    <i class="fa-brands fa-linkedin"></i><a href="https://www.linkedin.com/in/carlosmunozarenas/" target="_blank">
      /carlosmunozarenas</a>
  </div>
</div>
