.nav {
  background-color: white;
  margin: 1rem;
  padding: 1rem;
  justify-content: center;
  border-radius: 10px;
  box-shadow: 0 0 11px rgba(33,33,33,.2);
  display: block;
}

.enlace {
  background-color: white;
  margin: 1rem;
  padding: 1rem;
  border-radius: 10px;
}

.enlace-activo {
  background-color: white;
  margin: 1rem 0 1rem 1rem;
  padding: 1rem;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.name {
  margin-top: 1rem;
  text-align: center;
}

.cont-image {
  display: flex;
  justify-content: center;

}

.image {
  border-radius: 50%;
  overflow: hidden;
  text-align: center;
  width: 90px;
}

.negrita {
  font-weight: 600;
}

.redes {
  text-align: center;
  width: 100%;
}

.redes a:hover {
  color: #4b5563;
}

.esp-izq {
  margin-left: 1rem;
}

:host ::ng-deep .p-dropdown {
  margin: 0 1rem 1rem 1rem;
  width: calc(100% - 32px);
  border: none;
  box-shadow: none;
}

:host ::ng-deep ul {
  padding-left: 0px;
}

:host ::ng-deep .p-dropdown .p-dropdown-label {
  color: #69b199;
  font-weight: 600;
}

:host ::ng-deep .p-dropdown-panel .p-dropdown-items .p-dropdown-item.p-highlight {
  color: #69b199;
  font-weight: 600;
  background-color: #e6e6e6 !important;
}

:host ::ng-deep .p-dropdown-panel .p-dropdown-items .p-dropdown-item {
  color: #69b199;
}

.menu-horizontal {
  display: none;
}

@media (width < 768px) {
  .menu-vertical {
    display: none;
  }

  .menu-horizontal {
    display: block;
  }
}
