<div class="p-5">

  <h1>
    <strong>
      Estudios y certificados
    </strong>
  </h1>

  <hr>

  <h2 class="mt-4 mb-3">
    Estudios
  </h2>

  <p-card [header]="'Universidad Pablo de Olavide'">
    Grado de Ingeniería Informática en Sistemas de Información
  </p-card>

  <h2 class="mt-4 mb-3">
    Certificados
  </h2>

  <p-card [header]="'Tecnologías, herramientas o metodologías'">
    <ul>
      <li>
        ITIL 4 Foundation <a
          href="https://candidate.peoplecert.org/ReportsLink.aspx?argType=1&id=B776A58B190BDEA0474A35A5720C573FC3478172BAC89D8B23189D52163D23EBD5A5DDBD1755E4F5EEE3872DD7F5AA14"
          target="_blank"><i class="fa-solid fa-arrow-up-right-from-square" title="Mostrar credencial"></i></a>
      </li>
      <li>
        Herramientas Testing: Sonar y Jenkins
      </li>
      <li>
        Oracle Cloud Infrastructure 2022 Certified Foundations Associate <a
          href="https://catalog-education.oracle.com/pls/certview/sharebadge?id=8D9F965049825093260343682F57305A4BC4BD6543F62BA1DAF12EF92402AE88"
          target="_blank"><i class="fa-solid fa-arrow-up-right-from-square" title="Mostrar credencial"></i></a>
      </li>
      <li>
        ScrumManager Certified
      </li>
      <li>
        Desarrollo web con JavaScript, Angular, NodeJS, MongoDB <a
          href="http://ude.my/UC-9795d0af-8104-4d29-b5ad-82b8bc5dc80b" target="_blank"><i
            class="fa-solid fa-arrow-up-right-from-square" title="Mostrar credencial"></i></a>
      </li>
    </ul>
  </p-card>

  <p-card [header]="'Idiomas'">
    Certificación en B1 de Inglés (Cambridge)
  </p-card>

</div>
